{
    "configurations": [
        {
            "type": "aws-sam",
            "request": "direct-invoke",
            "name": "api-wiki-config",
            "invokeTarget": {
                "target": "api",
                "templatePath": "wiki_serverless/template.yaml",
                "logicalId": "HelloWorldFunction"
            },
            "api": {
                "path": "/hello",
                "httpMethod": "post",
                "payload": {
                    "json": {
                        "entity": "udacity"
                    }
                }
            }
        },
        {
            "type": "aws-sam",
            "request": "direct-invoke",
            "name": "wiki-config",
            "invokeTarget": {
                "target": "template",
                "templatePath": "wiki_serverless/template.yaml",
                "logicalId": "HelloWorldFunction"
            },
            "lambda": {
                "payload": {
                    "json": {
                        "entity": "udacity"
                    }
                },
                "environmentVariables": {},
                "runtime": "python3.7"
            }
        }
    ]
}