<!doctype html>
   <html>
     <head>
         <title>Welcome to Ansible {{ STUDENT_NAME }}!</title>
     </head>
     <body>
       <h2>{{ STUDENT_NAME }}!</h2>
       <p><strong>Configure your world your way &#153;</strong></p>
     </body>
   </html>
